*{
	margin: 0;
	padding: 0;
}


body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #f4f4f4;
	background-color: #181818;
}

.displayBlock{display: block !important;}


.mt10{margin-top: 10px !important}
.mt20{margin-top: 20px !important}
.mt30{margin-top: 30px !important}
.mt40{margin-top: 40px !important}
.mt60{margin-top: 60px !important}
.mt80{margin-top: 80px !important}
.mt100{margin-top: 100px !important}

.ml10{margin-left: 10px !important}
.ml20{margin-left: 20px !important}

.w50p{width: 50%}

.textAlignCenter{text-align: center}
.textAlignLeft{text-align: left}

.colorRed{color: #ff3333;}


h1{
	font-size: 26px;
	font-weight: 400;
	line-height:1;
	color: #f4f4f4;
}

h2{
	font-size: 20px;
	font-weight: 300;
	line-height:1;
	color: #f4f4f4;
}

a{
	color: #f4f4f4;	
}

.invisible {
	display: none;
}


.container {
	width: 100%;
}

.logo{
	padding-top: 60px;
	margin-bottom: 90px;
	text-align: center;	
}

.logo h1{
	font-size: 28px;
	font-weight: 600;	
}


/* Toolbar                                   */
/*-------------------------------------------*/
.toolbar {
	height: 48px;	
	display: flex;
}

.toolbar a{
	text-decoration: none;
}

.toolbar__backButton{
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
	font-size: 28px;
	color: #676767;	
}

.toolbar_backButton:active{
	background-color: red;
}

.toolbar__title{	
	margin-top: 10px;
	width: 90%;
}

.toolbar__title h1{
	font-size: 20px;
	font-weight: 600;
	color: #E1E1E1;
}


.toolbar__title h2{
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	color: gray;
}


.toolbar__backButton:before{
	font-family:'Material Icons';
	content: 'arrow_back_ios';	
}



.toolbar__exitButton{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
	font-size: 33px;
	color: #676767;	
}

.toolbar__exitButton:before{
	font-family:'Material Icons';
	content: 'exit_to_app';	
}



/* Work section                              */
/*-------------------------------------------*/



.workSection{
}

.workSection form{
	width: 80%;
	margin: 0 auto;	
}


/* Total section                           */
/*-------------------------------------------*/

.totalSection{
	width: inherit;
	bottom: 60px;
	position: absolute;
}


.totalSection__leftPart{
	width: 60%;
	display: inline-block;
	margin-left: 15px;	
	height: 33px;
}

.totalSection__leftPart__title{
	font-size: 24px;
	width: 100%;
	font-weight: 400;
 	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.totalSection__leftPart__detail{
	width: 100%;
	font-weight: 400;
	font-size: 13px;
	color: gray;
 	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}


.totalSection__rightPart{
	display: inline-block;
	margin-top: 5px;	
	margin-right: 10px;
	float:right;
	height: 33px;
	font-weight: 400;
	font-size: 18px;
}



/* Control section                           */
/*-------------------------------------------*/

.controlSection{
	margin-bottom: 5px;
	width: inherit;
	bottom: 0;
	position: absolute;
}

.controlSection__buttonsVertical{
	width: 80%;
	margin: 0 auto;
}

.controlSection__buttonsHorizontally{
	display:flex;
	align-items: stretch;
}



/* Controls                                  */
/*-------------------------------------------*/


.input{
	width: 100%;
	display: block;
	height: 46px;
	border-style:solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: gray;
	padding: 3px 3px 3px 3px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #f4f4f4;
	background-color: #181818;
	box-sizing: border-box;
}

.button{
	display: block;
	height: 33px;
	border-style:solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #ffdb4d;
	padding: 8px 3px 3px 3px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #181818;
	background-color: #ffdb4d;
	text-decoration: none;
	text-align: center;
}

.button:active{
	border-color: #ffdb4d;
	color: #ffdb4d;
	background-color: #181818;
}



.inverseButton{
	display: block;
	height: 33px;
	border-style:solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #f4f4f4;
	padding: 8px 3px 3px 3px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #f4f4f4;
	background-color: #181818;
	text-decoration: none;
	text-align: center;	
}

.inverseButton:active{
	border-color: #f4f4f4;
	color: #181818;
	background-color: #f4f4f4;
}


/* List View                                */
/*------------------------------------------*/

.listView{
	border-style: solid;
	border-width: 1px 0 0 0;
	border-color: #464646;
}

.listView a{
	text-decoration: none;
}


.listView__item{
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #464646;
	height: 56px;
	width: 100%;
}

.listView__item:active{
	background-color: #2b2b2b;
}


.listView__item__leftPart{
	width: 70%;
	display: inline-block;
	margin-top: 5px;
	margin-left: 15px;	
	height: 44px;

}

.listView__item__leftPart__title{
	font-size: 18px;
	width: 100%;
	font-weight: 600;
 	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.listView__item__leftPart__detail{
	width: 100%;
	font-weight: 400;
	font-size: 13px;
	color: gray;
 	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis 	
}

.listView__item__rightPart{
	display: inline-block;	
	margin-top: 5px;
	margin-right: 	10px;
	float:right;
	height: 44px;	
}

.listView__item__rightPart__detail{
	font-size: 18px;
	display: inline-block;	
	float:right;
	height: 44px;	
}

.listView__item__moreButton{
	font-size: 38px;
	color: #676767;
	float: right;
}

.listView__item__moreButton:before{
	font-family:'Material Icons';
	content: 'navigate_next';	
}


