<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Дисконт Онлайн</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/response.css" type="text/css">	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800&amp;subset=cyrillic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	      rel="stylesheet">	
</head>
<body ontouchstart="">
	<div class="container">

		<div class="logo">
			<h1>Дисконт Онлайн</h1>
		</div>
		
		<div class="workSection mt40">
			<form action="/login/" method="post">
                {% if is_error_login %}
				<p class="colorRed invisible">Пользователь не найден</p>
				<p class="colorRed invisible">Неверный пароль</p>
                {% endif %}
                {% if 0 %}
				<input type="email" tabindex="0" required autocomplete="on" placeholder = "Введите логин" name="authNameInput_email" class = "input">
                {% endif %}
				<input type="email" tabindex="0" required autocomplete="on" placeholder = "Введите логин" name="authNameInput" class = "input">
				<input type="password" tabindex="1" required autocomplete="on" placeholder = "Пароль" name="authPasswordInput" class = "input mt20">
				<button class="button mt20">Войти</button>
				<a class="displayBlock mt10" href="#">Напомнить пароль</a>
			</form>
		</div>


	</div>
</body>
</html>
