<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Дисконт Онлайн</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/response.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800&amp;subset=cyrillic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	      rel="stylesheet">	
</head>

<body ontouchstart="">
	<div class="container">

		<div class="toolbar">
			<a href="/">
				<div class="toolbar__backButton"></div>
			</a>
			<div class="toolbar__title textAlignLeft ml20">
                {% if 0 %}
				<h1>Василий Петроновский</h1>
				<h2>+7 926 631 83 91</h2>
                {% endif %}
				<h1>{{ client.title }}</h1>
				<h2>{{ client.phone_number }}</h2>

			</div>
				
		</div>


		<div class="workSection mt40">
			<div class="listView">
				
				<div class="listView__item">
					<div class="listView__item__leftPart mt10">
						<div class="listView__item__leftPart__title">	
							Покупка
						</div>							
					</div>
					<div class="listView__item__rightPart mt10">
						<div class="listView__item__rightPart__detail">	
							{{ order_sum }} &#8381
                            {% if 0 %}1 500 &#8381{% endif %}
						</div>						
					</div>
				</div>
			</div>


			<div class="listView mt40">
				<div class="listView__item">
					<div class="listView__item__leftPart mt10">
						<div class="listView__item__leftPart__title">	
							Всего баллов
						</div>							
					</div>
					<div class="listView__item__rightPart mt10">
						<div class="listView__item__rightPart__detail">	
                            {{ all_ball }}
							{% if 0 %}343{% endif %}
						</div>						
					</div>
				</div>

				<div class="listView__item">
					<div class="listView__item__leftPart">
						<div class="listView__item__leftPart__title">	
							Можно списать
						</div>
						<div class="listView__item__leftPart__detail">	
							Не более {{ max_percent_in_loyalty }}% покупки
							{% if 0 %}Не более 30% покупки{% endif %}
						</div>
					</div>
					<div class="listView__item__rightPart mt10">
						<div class="listView__item__rightPart__detail">	
                            {{ max_ball_for_pay }}
							{% if 0 %}343{% endif %}
						</div>						
					</div>
				</div>				
			</div>
		</div>


		<div class="totalSection">
			<div class="totalSection__leftPart">
				<div class="totalSection__leftPart__title">
					Итого
				</div>
				<div class="totalSection__leftPart__detail">
					Со списанием {{ max_ball_for_pay }} баллов
					{% if 0 %}Со списанием 348 баллов{% endif %}
				</div>				
			</div>

			<div class="totalSection__rightPart">
				{{ order_sum_with_ball }} &#8381
				{% if 0 %}1 152 &#838{% endif %}
			</div>			
		</div>




		<div class="controlSection">
			<div class="controlSection__buttonsHorizontally">
	
			<form method="post">
				<input type="hidden" name="action" value="write_off">
                <input type="submit" value="Списать" class="button mt20" >
			</form>

			<form method="post">
				<input type="hidden" name="action" value="save_up">
                <input type="submit" value="Копить" class="button mt20" >
			</form>

			</div>
		</div>


        {% if 0 %}
		<div class="controlSection">
			<div class="controlSection__buttonsHorizontally">
				<a href="#" class="inverseButton w50p">Списать</a>
				<a href="#" class="button w50p">Копить</a>

			</div>
		</div>
        {% endif %}



	</div>
</body>
</html>
